<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let book of books">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
            <ion-card>
                <ion-img [src]="book.linkImage"></ion-img>
            </ion-card>  
        </ion-col>
        <ion-col size="8"> 
            <p ><B>{{book.title}}</B></p>
            <p *ngFor="let author of book.authores">{{author}}</p>
            <div *ngFor="let category of book.categories" >{{category}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
